DJANGO_SECRET_KEY=dev-secret
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.92

DATABASE_NAME=app
DATABASE_USER=app
DATABASE_PASSWORD=app
DATABASE_HOST=db
DATABASE_PORT=5432

MAX_IMAGES=50
REQUEST_TIMEOUT_SECONDS=15
USER_AGENT=ImageScraper
# USER_AGENT=Mozilla/5.0